/data/embeddings/glove.6B.50d.txt
/data/word_weightings/sotu_weights.txt
/venv
/.idea
/data/runs/sotu
/data/images/ATE_cluster_plot.png
/data/runs/ATE
/data/speeches/ATE
/data/speeches/ATE_order_list.txt

